li {
	color: rgb(255,0,0,.6); /*RGBA*/
	background: pink;
	}
h1 {
	color:#FFFFFF; /*HEX*/
	/*border-color: black;
	border-width: 5px;
	border-style: solid;*/
	border:8px dashed pink;
	}
h4 {
	color:rgb(255,0,0); /*RGB*/
}

body{
	background: url("https://images.pexels.com/photos/956981/milky-way-starry-sky-night-sky-star-956981.jpeg?auto=compress&cs=tinysrgb&h=350");
	background-repeat: no-repeat;
	background-size: cover;
}
